@import "tailwindcss";

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    backdrop-filter: blur(5px);
    margin: 0;
    padding: 0;
    font-family: Consolas, 'Courier New', monospace;;
  }
}

.navBar{
    position: sticky;
    top: 0;
}